@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>We are Relaible Rentals, find one of our outelts scattered throughout north Wales. 
    We specialise in many different types of cars ranging from compact hatchbacks to luxary saloons to industrious 4x4's, we stock many makes and models, what ever you need we can supply</p>

<p>
   Browse our wide selections of cars and we may have exactly what you are looking, book today and you can even pick it up on the day of booking!
</p>

<p><a href="/home/cars">Rent a car now </a></p>
