
@{
    ViewBag.Title = "Merc";
}

<a href="javascript:history.back()">Back to List</a>
<h2>Merc</h2>
<img src="/Images/c63.jpg" class="img-center" height="200" width="400" />
<br />
<p> We have the new 2018 Mercedes C63 AMG 4.0L, this car packs a 510BHP biturbo V8 engine. This car is equipped with the latest top of the range technology from Mercedes and comes in Artic white. It has 4 seats that are grey leather with heated seat and massage functions, it is also equipped with comfortbale sport seats that can be fully adjusted via the electrical controls.</p>
<br />
<h3>This Car is located at our outlet in:</h3>
<address>
    Rhyl Outlet<br />
    45 Rhyl road<br />
    Rhyl, LL48 4SK<br />
    <abbr title="Phone">P:</abbr>
    01978 787558
</address>
<br />

<div class="row">
    <div class="col-md-4">
        <p><a class="btn btn-default" href="/Home/OneDay">Rent for 1 day &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <p><a class="btn btn-default" href="/Home/TwoDay">Rent for 2 days &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-default" href="/Home/OneWeek">Rent for 1 Week &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <p><a class="btn btn-default" href="/Home/TwoWeek">Rent for 2 weeks &raquo;</a></p>
    </div>

</div>