
@{
    ViewBag.Title = "Porsche";
}

<a href="javascript:history.back()">Back to List</a>
<h2>Porsche</h2>
<img src="/Images/porsche.jpg" class="img-center" height="200" width="400" />
<br />
<p> We have the new 2018 Porsche GT4 3.8L, this car packs a 385BHP turbo charged engine. This car is equipped with the latest technology from Porsche and comes in Nardo grey. It has 2 seats that are black leather racing seats, this is a great example of a track car that is road legel.</p>
<br />
<h3>This Car is located at our outlet in:</h3>
<address>
    <address>
        Snowdon Outlet<br />
        1 Snowdon View<br />
        Snowdonia, LL15 4OW<br />
        <abbr title="Phone">P:</abbr>
        01978 505050
    </address>
</address>
<br />
<div class="row">
    <div class="col-md-4">
        <p><a class="btn btn-default" href="/Home/OneDay">Rent for 1 day &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <p><a class="btn btn-default" href="/Home/TwoDay">Rent for 2 days &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-default" href="/Home/OneWeek">Rent for 1 Week &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <p><a class="btn btn-default" href="/Home/TwoWeek">Rent for 2 weeks &raquo;</a></p>
    </div>

</div>

