
@{
    ViewBag.Title = "Cars";
}

<h2>Our stock</h2>
<p>Here at Relaible Rentals we have a huge range of cars to choose from, we stock many high end cars as well as cars used for running about</p>
<div>
    <img src="/Images/VW.png" class="img-center" height="200" width="400" /><a class="btn btn-default" href="/Home/VW">Rent the VW &raquo;</a>
</div>

<div>
    <img src="~/Images/porsche.jpg" class="img-center" height="200" width="400" /><a class="btn btn-default" href="/Home/Porsche">Rent the Porshe &raquo;</a>
</div>

<div>
    <img src="~/Images/c63.jpg" class="img-center" height="200" width="400" /><a class="btn btn-default" href="/Home/Merc">Rent the Mercedes &raquo;</a>
</div>

<div>
    <img src="~/Images/McLaren.jpg" class="img-center" height="200" width="400" /><input id="ButtonMc" type="button" value="This car is now Unavailable" />
</div>
<img src="~/Images/Phantom.png" class="img-center" height="200" width="400" /><input id="ButtonRolls" type="button" value="This car is now Unavailable" />

<img src="~/Images/m6.jpg" class="img-center" height="200" width="400" /><input id="ButtonBmw" type="button" value="This car is now Unavailable" />

