@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <h4> Our main base </h4>
    Wrexham Outlet <br />
    1 Glyndwr way<br />
    Wrexham, LL13 0NP<br />
    <abbr title="Phone">P:</abbr>
    01978 545654
</address>

<address>
    Rhyl Outlet<br />
    45 Rhyl road<br />
    Rhyl, LL48 4SK<br />
    <abbr title="Phone">P:</abbr>
    01978 787558
</address>

<address>
    Snowdon Outlet<br />
    1 Snowdon View<br />
    Snowdonia, LL15 4OW<br />
    <abbr title="Phone">P:</abbr>
    01978 505050
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@rr.com">Support@rr.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@rr.com">Marketing@rr.com</a>
</address>