
@{
    ViewBag.Title = "VW";
}

<a href="javascript:history.back()">Back to List</a>
<h2>VW</h2>


<img src="/Images/VW.png" class="img-center" height="200" width="400" /> 
<br />
<p> We have the new 2018 VW Golf R 2.0L, this car packs a 292BHP turbo engine. This car is equipped with the latest technology from VW and comes in glacier white. It has 5 seats that are black leather with heated seat functions.</p>
<br />
<h3>This Car is located at our outlet in:</h3>
<address>
    Wrexham Outlet <br />
    1 Glyndwr way<br />
    Wrexham, LL13 0NP<br />
    <abbr title="Phone">P:</abbr>
    01978 545654
</address>
<br />
<div class="row">
    <div class="col-md-4">
        <p><a class="btn btn-default" href="/Home/OneDay">Rent for 1 day &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <p><a class="btn btn-default" href="/Home/TwoDay">Rent for 2 days &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-default" href="/Home/OneWeek">Rent for 1 Week &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <p><a class="btn btn-default" href="/Home/TwoWeek">Rent for 2 weeks &raquo;</a></p>
        </div>

    </div>
